@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply min-h-screen bg-gradient-to-br from-indigo-500 via-purple-500 to-pink-500;
    @apply bg-fixed;
  }
}

@layer utilities {
  .glass {
    @apply bg-white/10 backdrop-blur-md border border-white/20 shadow-xl;
  }

  .glass-dark {
    @apply bg-black/10 backdrop-blur-md border border-white/10 shadow-xl;
  }
}
